<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <header th:replace="fragments/layout :: header"></header>
            </div>

            <div class="col-10">
                <main th:text="Hello"> <!-- parte do conteúdo, sempre editar esta parte-->
                    <h1>Home</h1>
                </main>
            </div>
        </div>
    </div>
    
    <footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>



<!-- Começar todas as páginas com 


<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <header th:replace="fragments/layout :: header"></header>
            </div>

            <div class="col-10">
                <main th:text="Hello">
                    <h1>Home</h1>
                </main>
            </div>
        </div>
    </div>
    
    <footer th:replace="fragments/layout :: footer"></footer>
</body>
</html> -->